.ant-layout {
  background-color: #ebf4ff !important;
}

.ant-layout-footer {
  background-color: #ebf4ff !important;
}

.ant-menu-item-selected {
  background-color: #6c63ff !important;
}

.site-layout-content {
  padding: 2.5rem !important;
}

.ant-layout-header {
  background-color: #2f2d41 !important;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background-color: #2f2d41 !important;
}

.ant-message-custom-content.ant-message-error {
  display: flex !important;
  align-items: center !important;
}
